<h1>Edit Country</h1>
<form action="/countries/<%= country['id'] %>" method="POST">
    <input type="hidden" name="_method" value="put">

    <label for="">Name: </label>   
    <input type="text" name="name" value="<%= country['name'] %>">
    <br>

    <label for="">Image URL: </label>
    <input type="text" name="image_url" value="<%= country['image_url'] %>">
    <br>

    <label for="">Capital: </label>
    <input type="text" name="capital" value="<%= country['capital'] %>">
    <br>

    <label for="">Area: </label>
    <input type="text" name="area" value="<%= country['area'] %>">
    <br>

    <label for="">Population: </label>
    <input type="text" name="population" value="<%= country['population'] %>">
    <br>

    <button>Update Country</button>
    <a href="/ <% logged_in? %>">Back</a>
</form>