<h1>Comparison Results</h1>
<p><%= country[0] %>'s population is <%= pop[0]['population'] %>, <%= country[1] %>'s population is <%= pop[1]['population'] %></p>
<p>Population ratio <%= country[0] %> / <%= country[1] %> = <%= pop[0]['population'].to_f/pop[1]['population'].to_f %> </p>
<a href="/ <% logged_in? %>">Back</a>